* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-color: rgb(239, 239, 239);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
main {
    min-width: 400px;
    max-width: 550px;
    margin: auto;
}
  
h1, #app-container {
    text-align: center;
    margin: 40px 20px;
}
  
/* Search */
#search-container {
    width: fit-content;
    margin: 20px auto;
}
  
#search-input {
    padding: 9px;
    margin-right: 10px;
    width: 185px;
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
#search-button {
    padding: 9px 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 3px 10px gray;
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
#search-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1.5px solid black;
}
  
/* Results */
#results {
    background-color: white;
    border-radius: 20px;
    margin-top: 40px;
    padding: 30px;
    text-align: left;
    box-shadow: 3px 3px 10px gray;
}
  
#results > * {
    margin-bottom: 10px;
}
  
#creature-name {
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
}
  
#creature-id {
    font-size: 1.2em;
}
  
#types {
    margin: 20px 0px;
}
  
#types > * {
    background-color: #9077b0;
    margin-right: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.9em;
}
  
#special {
    margin: 30px 0px;
}
  
#special-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}
  
table {
    width: 100%;
    text-align: center;
    border-spacing: 3px; 
}
  
tr {
    background-color:  rgb(239, 239, 239);
}
  
th, td {
    padding: 7px;
}